
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

#block {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  height: 100vh;
  background-size: cover;
}

#overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(56,64,91,.85);
}

#header {
  position: absolute;
  margin: 3%;
  right: 10px;
  width: 100%;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 9px;
  letter-spacing: .025em;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(82,114,217);
  text-decoration: none;
}

#phone {
  margin-right: 5px;
}

.container {
  position: relative;
  top: 0;
  width: 80%;
  margin: auto;
}

#home {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

#logo {
  height: 70px;
  margin: auto;
}

h1 {
  position: absolute;
  margin-top: 0;
  top: 210px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 55px;
  letter-spacing: .03em;
}

#schedule {
  position: absolute;
  margin-top: 0;
  top: 310px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: .02em;
}

#button {
  position: absolute;
  margin-top: 0;
  top: 400px;
  width: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  letter-spacing: .04em;
}

#demo {
  color: white;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  align-items: center;
  font-size: 15px;
  background-color: rgb(82,114,217);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#demo:hover {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 20px;
}

#phones {
  position: relative;
  margin: auto;
  top: 550px;
  width: 800px;
  height: 600px;
}

#left {
  position: absolute;
  height: 631px;
  width: 310px;
}

#right {
  position: absolute;
  right: 0;
  height: 631px;
  width: 310px;
}

#center {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: -50px;
  height: 672px;
  width: 330px;
  background-color: gradient;
  z-index: 5;
}

#shadow-left {
  position: absolute;
  padding-right: 40px;
  padding-left: 40px;
  right: 45%;
  height: 600px;
  width: 175px;
  background: linear-gradient(to right,rgba(40,44,52,0),rgba(40,44,52,1));
  z-index: 3;
}

#shadow-right {
  position: absolute;
  padding-right: 40px;
  padding-left: 40px;
  left: 45%;
  height: 600px;
  width: 175px;
  background: linear-gradient(to left,rgba(40,44,52,0),rgba(40,44,52,1));
  z-index: 3;
}
