
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

#block {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  height: 95vh;
  min-width: 228px;
  background-size: cover;
  background-position: center;
}

@media (min-width: 480px) {
  #block {
    height: 100vh;
    min-height: 720px;
  }
}

@media (min-width: 1024px) {
  #block {
    min-height: 720px;
    overflow: hidden;
  }
}

#overlay {
  position: absolute;
  top: 0;
  height: inherit;
  width: 100vw;
  min-width: 228px;
  background-color: rgba(56,64,91,.85);
}

@media (min-width: 480px) {
  #overlay {
    height: inherit;
    min-height: 720px;
  }
}

@media (min-width: 1024px) {
  #overlay {
    min-height: 720px;
  }
}

#header {
  position: absolute;
  display: block;
  padding: 3%;
  right: 10px;
  text-align: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 9px;
  letter-spacing: .025em;
}

@media (min-width: 480px) {
  #header {
    font-size: 13px;
  }
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(82,114,217);
  text-decoration: none;
}

#phone {
  margin-right: 5px;
}

.container {
  padding-top: 10%;
  width: 100%;
}

@media (min-width: 1024px) {
  .container {
    padding-top: 7%;
    width: 80%;
    margin: auto;
  }
}

#home {
  position: relative;
  padding-top: 10%;
  width: 100%;
  text-align: center;
}

#logo {
  height: 70px;
  margin: auto;
}

@media (min-width: 480px) {
  #home {
    padding-top: 0;
  }
}

h1 {
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 8%;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 40px;
  letter-spacing: .03em;
}

@media (min-width: 480px) {
  h1 {
    margin-top: 0;
    line-height: 40px;
  }
}

@media (min-width: 1024px) {
  h1 {
    width: 100%;
    margin-top: 2%;
    font-size: 55px;
    letter-spacing: .02em;
  }
}

#schedule {
  position: relative;
  margin: auto;
  margin-top: 10%;
  width: 85%;
  text-align: center;
  color: rgb(164,165,176);
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .02em;
}

@media (min-width: 480px) {
  #schedule {
    margin-top: 3%;
    color: white;
    font-size: 15px;
  }
}

#button {
  position: relative;
  width: 65%;
  max-width: 250px;
  height: 50px;
  margin: auto;
  margin-top: 10%;
  padding-top: 15px 30px 30px 15px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  letter-spacing: .04em;
  background-color: rgb(82,114,217);
  font-size: 16px;
  border-radius: 30px;
}

#demo {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-decoration: none;
}

#demo:hover {
  font-size: 18px;
}

@media (min-width: 480px) {
  #button {
    margin-top: 2%;
  }
}

#phones {
  display: none;
}

@media (min-width: 480px) {
  #phones {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 8%;
    width: 400px;
    height: 400px;
  }

  #left {
    position: absolute;
    height: 315.5px;
    width: 155px;
  }

  #right {
    position: absolute;
    right: 0;
    height: 315.5px;
    width: 155px;
  }

  #center {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: -28px;
    height: 336px;
    width: 175px;
    background-color: gradient;
    z-index: 5;
  }

  #shadow-left {
    position: absolute;
    padding-right: 20px;
    padding-left: 20px;
    right: 45%;
    height: 300px;
    width: 87.5px;
    background: linear-gradient(to right,rgba(40,44,52,0),rgba(40,44,52,1));
    z-index: 3;
  }

  #shadow-right {
    position: absolute;
    padding-right: 20px;
    padding-left: 20px;
    left: 45%;
    height: 300px;
    width: 87.5px;
    background: linear-gradient(to left,rgba(40,44,52,0),rgba(40,44,52,1));
    z-index: 3;
  }
}

@media (min-width: 1024px) {
  #phones {
    margin-top: 8%;
    width: 800px;
    height: 600px;
  }

  #left {
    height: 631px;
    width: 310px;
  }

  #right {
    height: 631px;
    width: 310px;
  }

  #center {
    top: -50px;
    height: 672px;
    width: 330px;
  }

  #shadow-left {
    padding-right: 40px;
    padding-left: 40px;
    height: 600px;
    width: 175px;
  }

  #shadow-right {
    padding-right: 40px;
    padding-left: 40px;
    height: 600px;
    width: 175px;
  }
}
